@font-face {
    font-family: 'spoontypespoontype';
    src: url('../fonts/spoontype-webfont.woff2') format('woff2'),
         url('../fonts/spoontype.ttf') format('truetype'),
         url('../fonts/spoontype-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
};

h1,h2,h3,h4,h5,h6,p,a,span {
    font-family: 'spoontypespoontype' !important;
  }